@model LoginUser
<form asp-action="CheckLogin" asp-controller="Home" method="post">

        <span asp-validation-for="Email"></span>
        <label asp-for="Email"></label>
        <input asp-for="Email"><br/>

        <span asp-validation-for="Password"></span>
        <label asp-for="Password"></label>
        <input asp-for="Password"><br/>

        <input value="Login!" type="submit">    
    </form>