<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>
        <a href="/">Home</a>   |   <a href="/Projects">Projects</a>   |   <a href="Contact">Contacts</a>
    </h2>
    @{
    var ProjectList = new List<string>
    {
        "Razor Fun!",
        "Taco Truck!",
        "Portfolio!",
        "Pacman!"
    };
        
    foreach(var word in ProjectList)
    {
        // We can render HTML from within C# code!
        <h3>@word</h3>
        <p>Description of project.</p>
    }
}
</body>
</html>